body {
  margin: 0;
  overflow: hidden;
  background: url('background.png') no-repeat center center fixed; /* Replace with your background image */
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px 0;
}

.logo-container,
.button-container {
  margin: 0 auto;
}

.logo-container img,
.button-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.button-container {
  margin-top: 10px; /* Add spacing between logo and button */
}

.button {
  display: inline-block;
  padding: 5px;
}

.button img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
